*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: tomato;
}
.box{
  display: flex;
  justify-content: center;
  margin-top: 37vh;
}
button{
  width: 190px;
  height: 40px;
}
.add{
  background-color: limegreen;
  border: 2px black solid;
  transition: 0.7s;
}
.add:hover{
  cursor: pointer;
  background-color: darkgreen;
}
.remove{
  background-color: red;
  border: 2px black solid;
  transition: 0.7s;
}
.remove:hover{
  cursor: pointer;
  background-color: darkred;
}
.reset{
  background-color: mediumblue;
  border: 2px black solid;
  margin-top: 30px;
  transition: 0.7s;
}
.reset:hover{
  cursor: pointer;
  background-color: darkblue;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}